services:
  homeglow-backend-test:
    container_name: homeglow-backend-test
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    volumes:
      - /apps/homeglowtest/data:/app/data
      - /apps/homeglowtest/uploads:/app/uploads
    environment:
      - NODE_ENV=production
      - PORT=5001
    networks:
      - homeglow-network-test

  homeglow-frontend-test:
    container_name: homeglow-frontend-test
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - VITE_OPENWEATHER_API_KEY=${VITE_OPENWEATHER_API_KEY}
        - VITE_REACT_APP_API_URL=${VITE_REACT_APP_API_URL}
    ports:
      - "3001:3001"
    depends_on:
      - homeglow-backend-test
    networks:
      - homeglow-network-test

networks:
  homeglow-network:
    driver: bridge
