services:
  homeglow-backend:
    container_name: homeglow-backend
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "6000:6000"
    volumes:
      - /apps/homeglowtest/data:/app/data
      - /apps/homeglowtest/uploads:/app/uploads
    environment:
      - NODE_ENV=production
      - PORT=6000
    networks:
      - homeglow-network-test

  homeglow-frontend:
    container_name: homeglow-frontend
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - VITE_OPENWEATHER_API_KEY=${VITE_OPENWEATHER_API_KEY}
        - VITE_REACT_APP_API_URL=${VITE_REACT_APP_API_URL}
    ports:
      - "4000:4000"
    depends_on:
      - homeglow-backend
    networks:
      - homeglow-network-test

networks:
  homeglow-network-test:
    driver: bridge
