services:
  backend-test:
    container_name: backend-test
    build:
      context: ./server
      dockerfile: Dockerfile
      args:
        - PORT=${BACKEND_PORT:-5000}
    ports:
      - "${BACKEND_PORT:-5000}:${BACKEND_PORT:-5000}"
    volumes:
      - /apps/homeglow/data:/app/data
      - /apps/homeglow/uploads:/app/uploads
    environment:
      - NODE_ENV=production
      - PORT=${BACKEND_PORT:-5000}
    networks:
      - homeglow-network

  frontend-test:
    container_name: frontend=test
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - VITE_OPENWEATHER_API_KEY=${VITE_OPENWEATHER_API_KEY}
        - VITE_REACT_APP_API_URL=${VITE_REACT_APP_API_URL}:${BACKEND_PORT:-5000}
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    depends_on:
      - backend-test
    networks:
      - homeglow-network

networks:
  homeglow-network:
    driver: bridge
