VITE_REACT_APP_API_URL=http://192.168.68.43:5001 #IP of your host and server port
BACKEND_PORT=5000                #production server port
FRONTEND_PORT=3000               #production client port
DEV_BACKEND_PORT=5001            #development server port
DEV_FRONTEND_PORT=3001           #development client port
BACKEND_SERVICE=backend-test     #container name of server
